# 项目排除路径
/heima-leadnews-basic/heima-file-starter/target/
/heima-leadnews-common/target/
/heima-leadnews-feign-api/target/
/heima-leadnews-gateway/heima-leadnews-admin-gateway/target/
/heima-leadnews-gateway/heima-leadnews-app-gateway/target/
/heima-leadnews-gateway/heima-leadnews-wemedia-gateway/target/
/heima-leadnews-model/target/
/heima-leadnews-service/heima-leadnews-admin/target/
/heima-leadnews-service/heima-leadnews-article/target/
/heima-leadnews-service/heima-leadnews-behavior/target/
/heima-leadnews-service/heima-leadnews-comment/target/
/heima-leadnews-service/heima-leadnews-schedule/target/
/heima-leadnews-service/heima-leadnews-search/target/
/heima-leadnews-service/heima-leadnews-user/target/
/heima-leadnews-service/heima-leadnews-wemedia/target/
/heima-leadnews-test/es-init/target/
/heima-leadnews-test/freemarker-demo/target/
/heima-leadnews-test/kafka-demo/target/
/heima-leadnews-test/minio-demo/target/
/heima-leadnews-test/mongo-demo/target/
/heima-leadnews-test/tess4j-demo/target/
/heima-leadnews-utils/target/